.swiper {
    width: 600px;
    height: 300px;
  }
  .pdf-gallery {
    display: flex;
    overflow-x: auto;
  }

  .pdf-item {
    flex: 0 0 auto;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .pdf-item img {
    width: 190px;
    height: 245px;
    border: 1px solid #000;
    overflow: auto;
  }

  .pdf-item h3 {
    margin-top: 10px;
  }

  .pdf-item p {
    margin-top: 5px;
  }
